
.mysql-data/db/#ib_16384_0.dblwr
.mysql-data/db/#ib_16384_1.dblwr
.mysql-data/db/auto.cnf
.mysql-data/db/binlog.000001
.mysql-data/db/binlog.000002
.mysql-data/db/binlog.000003
.mysql-data/db/binlog.index
.mysql-data/db/ca-key.pem
.mysql-data/db/ca.pem
.mysql-data/db/client-cert.pem
.mysql-data/db/client-key.pem
.mysql-data/db/ib_buffer_pool
.mysql-data/db/ib_logfile0
.mysql-data/db/ib_logfile1
.mysql-data/db/ibdata1
.mysql-data/db/ibtmp1
.mysql-data/db/mysql.ibd
.mysql-data/db/private_key.pem
.mysql-data/db/public_key.pem
.mysql-data/db/server-key.pem
.mysql-data/db/server-cert.pem
.mysql-data/db/undo_001
.mysql-data/db/undo_002
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Api.dll
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Api.pdb
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.dll
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.pdb
Messaging-App.Api/obj/Debug/netcoreapp3.1/Messaging-App.Api.csprojAssemblyReference.cache
Messaging-App.Api/obj/Debug/netcoreapp3.1/Messaging-App.Api.dll
Messaging-App.Api/obj/Debug/netcoreapp3.1/Messaging-App.Api.pdb
Messaging-App.Domain/obj/Debug/netcoreapp3.1/Messaging-App.Domain.csprojAssemblyReference.cache
Messaging-App.Infrastructure/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.dll
Messaging-App.Infrastructure/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.pdb
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.csproj.CoreCompileInputs.cache
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.csprojAssemblyReference.cache
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.dll
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.pdb
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Api.dll
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Api.pdb
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.dll
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.pdb
Messaging-App.Api/obj/Debug/netcoreapp3.1/Messaging-App.Api.csprojAssemblyReference.cache
Messaging-App.Api/obj/Debug/netcoreapp3.1/Messaging-App.Api.dll
Messaging-App.Api/obj/Debug/netcoreapp3.1/Messaging-App.Api.pdb
Messaging-App.Domain/obj/Debug/netcoreapp3.1/Messaging-App.Domain.csprojAssemblyReference.cache
Messaging-App.Infrastructure/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.dll
Messaging-App.Infrastructure/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.pdb
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.csproj.CoreCompileInputs.cache
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.csprojAssemblyReference.cache
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.dll
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.pdb
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Api.dll
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Api.pdb
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.dll
Messaging-App.Api/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.pdb
Messaging-App.Api/obj/Debug/netcoreapp3.1/Messaging-App.Api.csprojAssemblyReference.cache
Messaging-App.Api/obj/Debug/netcoreapp3.1/Messaging-App.Api.dll
Messaging-App.Api/obj/Debug/netcoreapp3.1/Messaging-App.Api.pdb
Messaging-App.Domain/obj/Debug/netcoreapp3.1/Messaging-App.Domain.csprojAssemblyReference.cache
Messaging-App.Infrastructure/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.dll
Messaging-App.Infrastructure/bin/Debug/netcoreapp3.1/Messaging-App.Infrastructure.pdb
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.csproj.CoreCompileInputs.cache
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.csprojAssemblyReference.cache
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.dll
Messaging-App.Infrastructure/obj/Debug/netcoreapp3.1/Messaging-App.Infrastructure.pdb
