<div class="d-flex justify-content-center align-items-center aqua-gradient" id="background">
  <div class="col-lg-4 col-md-6 shadow-lg p-5 bg-white" id="card-left">
    <div class="row justify-content-end">
      <img class="img-fluid" src="assets/images/logo.png" alt="logo" style="max-width: 100px">
    </div>
    <div class="row pl-5 pt-5 pr-5 justify-content-center">
      <h4 class="h4">Log In</h4>
    </div>
    <app-login></app-login>
  </div>
  <div class="col-lg-4 col-md-6 shadow-lg p-5" id="card-right">
  <div class="">
    <div class="row pt-4 pb-4" style="height: 100px">
      <h1 class="h1" style="font-weight: 600">Messaging App</h1>
    </div>
    <div class="row pl-5 pt-5 pr-5 justify-content-center">
      <h4 class="h4">Register</h4>
    </div>
    <app-register></app-register>
  </div>
</div>
</div>
